.virtual-keyboard {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  max-width: 300px;
  max-height: 350px;
  gap: 12px;
  padding: 15px;
  background: linear-gradient(to right, #ECE9E6, #FFFFFF);
  border-radius: 12px;
  justify-content: space-between;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 10px;
}